@font-face {

    font-family: "StratosSkyeng";
  
    src: url("./fonts/stratosskyengweb-regular.woff2");
  
  }
body{
    font-family: "StratosSkyeng";
width: 1024px;
height: 774px;
background: #004980;
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.box{
width: 480px;
height: 459px;
left: 272px;
top: 158px;

background: #C2F5FF;
border-radius: 12px;
margin-left: 450px;
margin-top: 158px;
}
.heading{
width: 208px;
height: 96px;
padding-top: 52px;
padding-left: 136px;
padding-right: 136px;
font-family: 'StratosSkyeng';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #004980;
}
.box_button{
display: flex;
flex-direction: row;
gap: 24px;
padding-left: 69px;
}
.box_button input[type="radio"]:checked+label {
    background-color: #abbfec;
    border: 1px solid #4156be;
}
.box_button label:hover {
    background-color: #abbfec;
    border: 1px solid #4156be;
}
button{
	display: inline-block;
}
.button input[type=radio]{
display: none;
}

.button label {
display: flex;
    cursor: pointer;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;
    border-radius: 12px;
    width: 98px;
    height: 98px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #0080C1;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
}
.button_start{
margin-left: 117px;
width: 246px;
height: 50px;

background: #7AC100;
border-radius: 12px;
border: none;
font-family: 'StratosSkyeng';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

margin-top:  67px;
align-items: center;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}